foo
example_app.zip
MyEC2KeyPair.pem
MyEC2KeyPair.ppk
/toinstall/DotNetCore.2.0.5-WindowsHosting.exe
/publishedapp/ValidateInstall.ps1
/publishedapp/publish
/publishedapp/appspec.yml
/publishedapp/DeployToPipeline.ps1
/publishedapp/InstallApp.ps1
/publishedapp/RemoveApp.ps1
/toinstall/dotnet-runtime-2.0.5-win-x64.exe
